/*
    RESET
*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}    

.container{
    max-width: 1200px;
    margin:0 auto;
}

/*
    GENERAL
*/

body{
    font-family: 'Open Sans', sans-serif;
}

/*
     DEBUG
*/

/* .debug .col-1-3{
    background-color: lightcoral;
    text-align: center;
    padding: 0PX 10px;
    border:2px dashed lightblue;
} */
    

/* .debug .product-card .card-up{ */
    /* height: 300px; */
/* } */
/* /* */

/*
    HEADER
*/

header{
    background-color: #FF6900;
    color: white;
}
 .menu{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;    
 }

/*
     MAIN
*/     

.my-row{
    display:flex;
    flex-wrap:wrap;
    /* Quando ho aggiunto margin a col-1-3 l'immagine  */
    /* è andata a capo , perchè lo spazio nel  */
    /* contenitore non era più sufficente */
    /* sono quindi stata costretta ad aggiungere un -20px */
    /* alla width di col-1-3(che sarebbe il margin 10 a left  */
    /* e margin 10 a right) */
    /* per strecciare l'immagine do queste due prop. */
    margin-left: -10px;
    margin-right: -10px;
}

.col-1-3{
    width: calc((100% / 3) - 20px);
    margin: 0px 10px;
}
 
main{
    padding: 50px 0px;
}

/* STO RIDIMENSIONANDO L'IMG PERCHè E' TROPPO
GRANDE , CON PROPRIETà WIDTH 100% E SBORDERà LO STESSO
SOTTO PERCHè ABBIAMO DATO UN ALTEZZA FISSA A CARD-UP 
.debug .product-card .card-up{
height: 300px;*/
main .product-card .card-up img{
    width: 100%;
}

main .product-card .card-up{
    position: relative;
}

main .product-card .card-up .wishlist{
    position: absolute;
    top: 20px;
    right: 0px;
}

main .product-card .card-up .tags{
    position: absolute;
    bottom:40px;
    left:0px;
}

/*
 FOOTER
 */

 footer{
    background-color: black;
    color: white;
 }

 footer .info{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
 }